extends layout
block content
    h1= title
    form(id='DogsForm', action="/resource/Dogs", method="POST")
        div.form-group
            label.DogsAttr(for='Dogname') Dogs Dogname
            input#Dogname(type='text', name='Dogname')
        div.form-group
            label.DogsAttr(for='dogsize') Dogs dogsize
            input#dogsize(type='text', name='dogsize')
        div.form-group
            label.DogsAttr(for='dogcost') Dogs dogcost
            input#dogcost(type='number', name='dogcost')
        input(type="submit")
    script.
        document.forms['DogsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });
